{% extends 'master.html'  %}

{% load static %}




 {% block content %}

                        <div>
                        <img
                            src="https://img.lazcdn.com/us/domino/f9447e6f-94ec-4a8c-aa17-072d362da896_NP-1976-688.jpg_2200x2200q80.jpg_.webp
                    "
                            class="img-fluid"
                            alt="About Daraz"
                        />
                </div>



                
                <div class="container" style="display: flex;">
            <div class="row" style="display: flex;">
                <div class="col">
                <div class="card" style="width: 18rem;"></div>    
            <img src="{% static 'images/image_1.webp' %}" class="card-img-top" alt="..."
            style="height: 200px; width: 150px;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
                
                <div class="col">
                <div class="card" style="width: 18rem;"></div>
            <img src="{% static 'images/image_1.webp' %}" class="card-img-top" alt="..."
            style="height: 200px; width: 150px;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

                </div>
                <div class="col">
                <div class="card" style="width: 18rem;"></div>
            <img src="{% static 'images/image_1.webp' %}" class="card-img-top" alt="..."
            style="height: 200px; width: 150px;">  <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            </div>
                </div>
                    <div class="col">
                    <div class="card" style="width: 18rem;"></div>
                <img src="{% static 'images/image_1.webp' %}" class="card-img-top" alt="..."
                style="height: 200px; width: 150px;">  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                </div>
                    </div>
            </div>
            </div>




{% include 'utilities/products.html'  %}


    
    {% endblock %}

 